//variables

$font-global: 'Montserrat', sans-serif;
$font-secondary: 'EB Garamond', serif;

$fonts-size: (
  text-one: 2.5rem,
  text-two: 3rem,
  text-three: 3.6rem,
  text-four: 6rem,
  text-five: 1.4rem,
  text-six: 1.6rem,
  text-seven: 4.8rem,
  text-eight: 8rem,
  text-nine: 4rem,
  text-ten: 5rem,
  text-eleven: 15.4rem,
  text-twelve: 2.8rem,
);

$background-color: (
  bg-one: #FFFFFF,
  bg-two: #14274A,
  bg-three: #FFFFFF,
  bg-four: #E0B973,
);